.attn-clip {
	display: none;
}
.attn-clip.active {
	display: block;
}

.attn-player {width: 800px; border: 1px solid #000000;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(120,129,135)),
    color-stop(0.66, rgb(181,179,181))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(120,129,135) 0%,
    rgb(181,179,181) 66%
);
	 padding: 10px; margin-top: 5px;}

video { border: 4px solid #000000;}

.attn-video-container { float: left; }
.attn-video-container video { height: 300px; width: 400px; }

.attn-timeline { width: 350px; }

.attn-timeline-clip { display: inline-block; border: 3px solid #000000; margin: 10px; height:30px; cursor: pointer;}
.attn-timeline-clip img {height: 100%;}
.attn-timeline-clip.loaded { height: 40px; margin: 5px;}
.attn-timeline-clip.active { border: 3px solid #aacc00; height: 40px; margin: 5px;}

.attn-timeline-clip.viewed { border: 3px solid #006600; }

.attn-information {float: left; width: 350px; height: 200px; margin-left: 10px;}
.attn-information-title {}
.attn-information-description {}
.attn-information-context {}

.attn-social {float: left; height: 100px; width: 350px; margin-left: 10px;}
.attn-social-good {float: left; height: 20px; width: 100px; margin-left: 50px; text-align: center;
	border-radius: 15px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(18,135,0)),
	    color-stop(0.66, rgb(47,191,4))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(18,135,0) 0%,
	    rgb(47,191,4) 66%
	);
	cursor: pointer;
}
.attn-social-bad {float: left; height: 20px; width: 100px; margin-left: 50px; text-align: center;
	border-radius: 15px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(133,0,0)),
	    color-stop(0.66, rgb(189,6,6))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(133,0,0) 0%,
	    rgb(189,6,6) 66%
	);
	cursor: pointer;
}