* { margin: 0px; padding: 0px; }


/* HTML Elements */
body { font-family: arial; background: #222226; color: #FFFFFF }

label {cursor: pointer;}

h1 { }

h2 { margin-top: 20px; }

a { color: #9999ff; text-decoration: none;}

/* Core Elements */
#container { width: 900px; margin: auto;}

#header {height: 100px; width: 100%;}

#logo { height: 50px; width: 200px; float: left;}

#login { float:left; margin-left: 400px;}

#login form ul { list-style: none; }

#login form ul label { float:left; width:100px;}

#main { min-height: 500px;}

#footer {}